{% load staticfiles %}
<html>
        <head>
            <title>Разум</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/alg.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
              <style>
                aside {
                  background: #f0f0f0;
                  padding: 10px;
                  width: 200px;
                  float: right;
                }
              </style>
        </head>

        <body>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <script>
           (adsbygoogle = window.adsbygoogle || []).push({
           google_ad_client: "ca-pub-3146641004402862",
           enable_page_level_ads: true
           });
          </script>
            <div class="page-header">
                <h1>Решение задач, требующих мозговой активности.</h1>
                <p align="center" style="color: #ffffff"><big>"Разум это не сосуд, который нужно заполнить,<br>а пламя, которое необходимо разжечь" (Плутарх)</big></p>
                <h4 align="right"><a href='/admin/'>Админка</a></h4>
            </div>
            <aside>
              <div>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- mind -->
                <ins class="adsbygoogle"
                  style="display:inline-block;width:180px;height:150px"
                  data-ad-client="ca-pub-3146641004402862"
                  data-ad-slot="7931025267"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </div>
            </aside>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                        <h1><a href="{% url 'start_alg' %}">Арифметические задачки</a></h1><h1 align="right"><a href="{% url 'start_logica' %}">Задачи на логическое мышление</a></h1>
                        <h1><a href="{% url 'start_erudition' %}">Задачи на эрудицию</a></h1><h1 align="right"><a href="{% url 'start_humor' %}">Проверка чувства юмора</a></h1>
                    </div>
                </div>
            </div>
                        
        </body>
</html>